#base{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px black solid;
    margin: 10px;
    position: relative;
    text-align: center;
}
#hp{
    background-color: green;
    height: 100%;
}
#name{
    position: relative;
    margin: 0 auto;
    top: -35px;
}