:host{
  border: 1px black solid;
  padding: 5px;
  background-color: antiquewhite;
  cursor: pointer;
  width: 160px;
}
:host:hover{
  background-color: beige;
}
:host(.active){
  background-color: aquamarine;
}
#name, #power, #cost{
  margin: 0 auto;
}
